.exito{
  color: #2F7A31;
  border-color: #2F7A31;
  background: #bad2b6;
  --background-activated: #2F7A31 ;
  border-radius: 10px;
}
.cancelado{
  background: #ffdfdb;
  border-radius: 10px;
}
ion-range{
  --pin-color: #3d1d3c;;
  --pin-background:#3d1d3c;
  --knob-background:#3d1d3c;
}

