.siguiente{
  --color:#793268;
  --border-color: #793268;
  --background-activated: #793268;
  --color-activated: white;
}
.avatar{
  margin: auto;
}
.exito{

  background: #bad2b6;;
  border-radius: 10px;

}
ion-list-header{
  display: block;
  text-align: center;
}
ion-card{
  border-radius: 10px;
}



