.itemPersonalizado{
  --border-radius: 20px;
  --border-color: #0c4e23;
  --border-width: 1px;
  --border-style: solid;
  --color: #0c4e23;
  --background: #cef3da;
}
.new {
  --background-activated: #00bb2d !important;
}
