.fondo{
  --ion-item-background: #efefef;
  color: black;
}
.fondo2{
  --ion-item-background:#c3c3c3;
}
.center{
  text-align: center;
}
.new{
  --background: #86cd97;
  --background-activated: #7dd692;
}

