.lista{
  --ion-item-background: #f1f1f1;
  ion-label{
    color: black;
  }
}
.nota{
  --color: #8b8b8b;
}
.boton{
  --background: #d5bb8f;
}
.new{
  --background: #86cd97;
  --background-activated: #7dd692;
}
.milista{
  padding: 0;
}
