<app-header titulo="Contacto"></app-header>


<ion-content>
    <ion-tabs>
        <ion-tab-bar  class="selected" slot="top">
            <ion-tab-button class="selected"  tab="formulario">
                <ion-label>Formulario</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="quienes_somos">
                <ion-label>Quienes Somos</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="faq">
                <ion-label>F.A.Q.</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>
