.new{
  //--background: #86cd97;
  --background: #0c4e23;
  --background-activated:  #00bb2d;
}
.inicia{
  --background: #86cd97;
  --background-activated: #7dd692;
}
ion-icon{
  color: #3d1d3c;
}
.fondo{
  --ion-item-background: #cef3da;
}
ion-content{
  background: red;
}




