ion-content{
  --ion-background-color:#cef3da;
}



.item-content{
  background-color:black;
}
.darkmenu{
--ion-item-background: #cef3da;;
}

ion-avatar{
  margin-left: 2px;
  margin-right: 2px;
  width: 40px;
  height: 40px;
  padding: 2px;
}
//ion-footer{
//  position: fixed;
//  left: 0;
//  bottom: 0;
//  right: 0;
//}



